.peopleOnlineFriend {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .peopleOnlineImgContainer {
    position: relative;
    margin-right: 10px;
  }
  
  .peopleOnlineImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
  }
  
  .peopleOnlineBadge {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: navy;
    position: absolute;
    top: 2px;
    right: 2px;
  }
  
  @media screen and (max-width: 768px) {
    .peopleOnlineName {
      display: none;
    }
  }